<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='../static/form.css') }}">
    <!-- <link rel="stylesheet" type="text/css" href="../static/form.css"> -->
    <title>Artist Top Tracks</title>
</head>
<body>
    <div id="container">
        <div id="frame">
            <h1 id="text">Top Tracks Of</h1>
        </div>
    
        <form method='POST'>
            <input type="text" name="name" autocomplete="off" autofocus required>
            
            
        </form>
        <button type="submit" class="btn btn-primary">GO</button>
    </div>
    
    <script>
        document.querySelector('input').focus();
    </script>
</body>
</html>