<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='../static/style.css') }}"
    />
    <!-- <link rel="stylesheet" type="text/css" href="../static/style.css"> -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <title>Top Tracks</title>
  </head>

  <body>
    <div class="container">
      <div class="label">
        <h1>{{artistName}}</h1>
        <h2>Top <span id="number">5</span></h2>
        <p>On Last FM</p>
      </div>
    </div>

    <div class="btns">
      <button id="add">+</button>
      <button id="minus">-</button>
    </div>

    <svg class="indicate" width="250px" height="70px" font-family="Arial">
      <g>
        <circle
          stroke="#E15554"
          stroke-width="1.5"
          cx="20"
          cy="50%"
          r="20"
        ></circle>
        <text fill="white" x="20" y="50%" text-anchor="middle" dy=".3em">
          >10m
        </text>
      </g>
      <g>
        <circle
          stroke="#2892D7"
          stroke-width="1.5"
          cx="70"
          cy="50%"
          r="20"
        ></circle>
        <text fill="white" x="70" y="50%" text-anchor="middle" dy=".3em">
          >1m
        </text>
      </g>
      <g>
        <circle
          stroke="#00909e"
          stroke-width="1.5"
          cx="120"
          cy="50%"
          r="20"
        ></circle>
        <text fill="white" x="120" y="50%" text-anchor="middle" dy=".3em">
          >100k
        </text>
      </g>
      <g>
        <circle
          stroke="#E1BC29"
          stroke-width="1.5"
          cx="170"
          cy="50%"
          r="20"
        ></circle>
        <text fill="white" x="170" y="50%" text-anchor="middle" dy=".3em">
          >10k
        </text>
      </g>
      <g>
        <circle
          stroke="#7768AE"
          stroke-width="1.5"
          cx="220"
          cy="50%"
          r="20"
        ></circle>
        <text fill="white" x="220" y="50%" text-anchor="middle" dy=".3em">
          ~10k
        </text>
      </g>
    </svg>

    <span id="inputArtist" style="display: none;">{{userInput}}</span>
    <h3 style="display: none;">{{artistName}}'s Top Tracks</h3>
    {% for track in topTracksArray %}
    <!-- <div class="trackObj">
        <h2 class="trackName">{{track['name']}}</h2>
        <div class="playcount">{{track['playcount']}}</div>
        <div class="listeners">{{track['listeners']}}</div>
    </div> -->

    {% endfor %}
    <svg id="svgArea" style="background-color: black;"></svg>
    <script
      type="text/javascript"
      src="{{ url_for('static',filename='../static/config.js') }}"
    ></script>
    <script>
      var svgElement = document.querySelector('#svgArea');
      var tooltipElement = document.querySelector('#tooltipBox');
      //console.log(svgElement)
      const addBtn = document.getElementById('add');
      const minusBtn = document.getElementById('minus');
      let number = document.getElementById('number');

      addBtn.addEventListener('click', () => {
        number.innerText++;
        if (Number(number.innerText) > 50) {
          number.innerText = 50;
        }
        while (svgElement.firstChild) {
          svgElement.removeChild(svgElement.firstChild);
        }
        if (document.querySelector('.tooltip')) {
          document.querySelector('.tooltip').remove();
        }
        drawTopTrack(Number(number.innerText));
      });
      minusBtn.addEventListener('click', () => {
        number.innerText--;
        if (Number(number.innerText) < 1) {
          number.innerText = 1;
        }
        while (svgElement.firstChild) {
          svgElement.removeChild(svgElement.firstChild);
        }
        if (document.querySelector('.tooltip')) {
          document.querySelector('.tooltip').remove();
        }
        drawTopTrack(Number(number.innerText));
      });

      const inputArtist = document.getElementById('inputArtist').innerText;
      const lastFmBaseUrl = 'http://ws.audioscrobbler.com/2.0/';

      //   const apiKey = config.API_KEY;
      const apiKey = 'd08b204e3587ae24e5476480cfc3a4ba';
      let width = window.innerWidth;
      let height = window.innerHeight;
      var svg = d3
        .select('#svgArea')
        .attr('width', width)
        .attr('height', height);

      function drawTopTrack(numberOfSongs) {
        d3.json(
          `${lastFmBaseUrl}?method=artist.gettoptracks&artist=${inputArtist}&api_key=${apiKey}&format=json`
        ).then((result) => {
          let topTracksData = result.toptracks.track.slice(0, numberOfSongs);
          let artistName = result.toptracks.track[0].artist.name;

          //console.log(topTracksData)
          testJson = {
            nodes: topTracksData
            // 'links': [
            //     { "source": 0, "target": 1 },
            //     { "source": 1, "target": 0 },
            //     { "source": 2, "target": 1 },
            //     { "source": 3, "target": 2 },
            //     { "source": 4, "target": 3 },
            // ]
          };

          var simulation = d3
            .forceSimulation(testJson.nodes)
            //.force('link', d3.forceLink(testJson.links))
            .force('charge', d3.forceManyBody().strength(-10))
            .force('center', d3.forceCenter(width / 2, height / 2))
            .force('collide', d3.forceCollide(35).strength(0.3))
            .on('tick', ticked);

          var g = svg
            .selectAll('g')
            .data(testJson.nodes)
            .enter()
            .append('g')
            .style('cursor', 'default')
            .call(
              d3
                .drag()
                .on('start', dragstarted)
                .on('drag', dragged)
                .on('end', dragended)
            )
            .on('mouseover', (d) => {
              tooltip
                .html(
                  `<div>${d.name}</div>
                                      <div>Rank: ${d['@attr'].rank}</div>
                                      <div>${calcCount(d.playcount)} Plays</div>
                                      <div>${calcCount(
                                        d.listeners
                                      )} Listeners</div>`
                )
                .style('opacity', 1);
            })
            .on('mouseout', (d) => {
              tooltip.style('opacity', 0);
            });

          let playcountArray = [];

          var tooltip = d3
            .select('body')
            .append('div')
            .attr('class', 'tooltip')
            .style('opacity', 0)
            .style('right', 0)
            .style('top', 0);

          var node = g
            .data(testJson.nodes)
            .append('circle')

            .attr('class', 'circles')
            .attr('r', (d) => {
              playcountArray.push(Number(d.playcount));
              if (playcountArray[0] >= 10000000) {
                let r = d.playcount / 300000 < 10 ? 10 : d.playcount / 300000;
                return r;
              } else if (
                playcountArray[0] >= 5000000 &&
                playcountArray[0] <= 9999999
              ) {
                let r = d.playcount / 100000 < 10 ? 10 : d.playcount / 100000;
                return r;
              } else if (
                playcountArray[0] >= 1000000 &&
                playcountArray[0] <= 4999999
              ) {
                let r = d.playcount / 20000 < 10 ? 10 : d.playcount / 20000;
                return r;
              } else if (
                playcountArray[0] >= 100000 &&
                playcountArray[0] <= 999999
              ) {
                let r = d.playcount / 3000 < 10 ? 10 : d.playcount / 3000;
                return r;
              } else if (
                playcountArray[0] >= 10000 &&
                playcountArray[0] <= 99999
              ) {
                let r = d.playcount / 300 < 10 ? 10 : d.playcount / 300;
                return r;
              } else if (playcountArray[0] >= 1000) {
                let r = d.playcount / 20 < 10 ? 10 : d.playcount / 20;
                return r;
              }
            })
            .attr('fill', (d) => {
              if (d.playcount >= 10000000) {
                return '#E15554';
              } else if (d.playcount >= 1000000) {
                return '#2892D7';
              } else if (d.playcount >= 100000) {
                return '#00909e';
              } else if (d.playcount >= 10000) {
                return '#E1BC29';
              } else {
                return '#7768AE';
              }
            })
            .style('opacity', 0.5);

          //console.log(playcountArray)
          var text = g
            .append('text')
            .data(testJson.nodes)
            .attr('y', 2)
            .attr('dy', 0)
            .attr('fill', 'white')
            .attr('text-anchor', 'middle')
            .attr('font-family', 'Arial')
            .text((d) => d.name)
            .call(wrap, 100);

          // var gs = d3.selectAll('g').data(testJson.nodes);
          // console.log(gs)
          function calcCount(count) {
            if (count >= 10000000) {
              // >10m
              let num = count / 1000000;
              let round = (Math.round(num * 10) / 10).toFixed(1);
              return round + 'M';
            } else if (count >= 1000000) {
              // >1m
              let num = count / 1000000;
              let round = (Math.round(num * 10) / 10).toFixed(1);
              return round + 'M';
            } else if (count >= 100000) {
              // >100k
              let num = count / 1000;
              let round = (Math.round(num * 10) / 10).toFixed(1);
              return round + 'K';
            } else if (count >= 10000) {
              // >10k
              let num = count / 1000;
              let round = (Math.round(num * 10) / 10).toFixed(1);
              return round + 'K';
            } else if (count >= 1000) {
              // >1k
              let num = count / 1000;
              let round = (Math.round(num * 10) / 10).toFixed(1);
              return round + 'K';
            } else {
              return count;
            }
          }

          function ticked() {
            g.attr('transform', (d) => `translate(${d.x},${d.y})`);
          }

          function dragstarted(d) {
            simulation.alphaTarget(0.3).restart();
            d.fx = d.x;
            d.fy = d.y;
          }

          function dragged(d) {
            d.fx = d3.event.x;
            d.fy = d3.event.y;
          }

          function dragended(d) {
            simulation.alphaTarget(0);
            d.fx = null;
            d.fy = null;
          }
          //console.log(testJson)
          function wrap(text, width) {
            text.each(function () {
              var text = d3.select(this),
                words = text.text().split(/\s+/).reverse(),
                word,
                line = [],
                lineNumber = 0,
                lineHeight = 1.1, // ems
                y = text.attr('y'),
                dy = parseFloat(text.attr('dy')),
                tspan = text
                  .text(null)
                  .append('tspan')
                  .attr('x', 0)
                  .attr('y', y)
                  .attr('dy', dy);
              while ((word = words.pop())) {
                line.push(word);
                tspan.text(line.join(' '));
                if (tspan.node().getComputedTextLength() > width) {
                  line.pop();
                  tspan.text(line.join(' '));
                  line = [word];
                  tspan = text
                    .append('tspan')
                    .attr('x', 0)
                    .attr('y', y)
                    .attr('dy', `${++lineNumber * lineHeight + dy}em`)
                    .text(word);
                }
              }
            });
          }
        });
      }
      drawTopTrack(Number(number.innerText));

      window.addEventListener('resize', () => {
        width = window.innerWidth;
        height = window.innerHeight;
        drawTopTrack(Number(number.innerText));
      });
    </script>
  </body>
</html>
